<%- include('partials/head.ejs') %>
</head>

<body>
    <%- include('partials/navigation.ejs') %>

    <main>
        <div class='product-form'>
            <form action="/admin/add-product" method="POST">
                <div class='form-control'>
                    <label for="title">Title</label>
                    <input type="text" name="title" id='title'>
                </div>
                <button class='btn'>Add</button>
            </form>
        </div>
    </main>
<%- include('partials/end.ejs') %>